<section class="page">
    <section class="white bg-center-left">

        <!-- ***** Page Top Start ***** -->
        <ng-parallax img="assets/images/photos/parallax.jpg" [config]="{speed: .4, initialValue: 150}" class="ng-parallax-cover">
            <div class="cover">
                <div class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1>Plataformas de Negocio</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-parallax>

        <!-- ***** Page Top End ***** -->
        <br>
        <div class="offset-lg-3 col-lg-6">
            <div class="center-text">
                <!-- <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p> -->
            </div>
        </div>

        <app-aplicaciones-cards></app-aplicaciones-cards>

    </section>
</section>