<section class="page">
    <!-- ***** Page Top Start ***** -->
    <ng-parallax img="assets/images/photos/features/nosotros.jpg" [config]="{speed: .6, initialValue: -200}" class="ng-parallax-cover">
        <div class="cover">
            <div class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Nosotros</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-parallax>
    <!-- ***** Page Top End ***** -->

    <!-- ***** Page Content Start ***** -->
    <div class="page-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about">
                        <div class="about-image">
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/nyYiE3SurYs?autoplay=1&showinfo=0&controls=0&rel=0&iv_load_policy=3" frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="about-text">
                            <h2>Calier Internacional, dispuesto a dar mucho más</h2>
                            <p>Somos una empresa que nace en Caracas, Venezuela y desde hace  más de </p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 shadow">
                                        <p><b class="h4">Nuestra Misión:</b><br>Calier es una compañía fundada en el año 2009, dedicada a comercializar, distribuir, desarrollar y producir ingredientes alimenticios para: <br> <span>- Cárnicos <br> - Lácteos <br> - Panificación y Repostería</span> <br><br>Con el objetivo de: <br><span>- Mejorar el valor nutricional <br>- Potencializar la calidad <br>- Mejorar costos</span></p>
                                    </div>
                                    <div class="col-6 shadow">
                                        <p><b class="h4">Nuestra Visión:</b><br>En el 2020, Calier Internacional de Colombia alcanzará: <br><span>- Ventas de USD 10 millones de dólares <br>- Un  ROE (return on equity) +10% <br>- Convertirse en el principal socio y amigo  de nuestros clientes y  representadas.</span></p>
                                    </div>
                                </div>
                            </div>
                            <p class="pt-3">En el 2020, Calier Internacional de Colombia alcanzará ventas de USD 10 millones de dólares con un ROE (return on equity) positivo y en  crecimiento</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Page Content End ***** -->
</section>