<section class="section" id="testimonials">
    <div class="container">
        <!-- ***** Section Title Start ***** -->
        <div class="row">
            <div class="col-lg-12">
                <div class="center-heading">
                    <h2 class="section-title">Nuestros Socios</h2>
                </div>
            </div>
            <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                    <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
                </div>
            </div>
        </div>
        <!-- ***** Section Title End ***** -->

        <div class="row testimonials-wrapper">
            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="testimonials-item">
                    <div class="hexagon-user">
                        <div class="hexagon-user-img">
                            <div class="hexagon-in1">
                                <img src="assets/images/photos/partners/grupo_calier.png" class="hexagon-in2">
                                <!-- <div class="hexagon-in2" data-profile-img="assets/images/photos/partners/grupo_calier.png"></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-content">
                        <h3 class="user-name">Grupo Calier</h3>
                        <span>Mellow Mountain Hotel</span>
                        <p>Nullam at venenatis dui. Suspendisse lectus lacus, ornare sed imperdiet eu, viverra vel neque. Duis nec nunc dolor. Cras non molestie sem, eu lacinia. </p>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->

            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="testimonials-item">
                    <div class="hexagon-user">
                        <div class="hexagon-user-img">
                            <div class="hexagon-in1">
                                <img src="assets/images/photos/partners/indukern.png" class="hexagon-in2">
                                <!-- <div class="hexagon-in2" data-profile-img="assets/images/photos/partners/indukern.png"></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-content">
                        <h3 class="user-name">Indukern</h3>
                        <span>Tranquil Resort & Spa</span>
                        <p>Vestibulum eget imperdiet ex, posuere tempor lorem. Duis orci metus, placerat eget pharetra tempus, imperdiet vel massa. Vestibulum eget imperdiet ex.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->

            <!-- ***** Testimonials Item Start ***** -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="testimonials-item">
                    <div class="hexagon-user">
                        <div class="hexagon-user-img">
                            <div class="hexagon-in1">
                                <img src="assets/images/photos/partners/bixa.png" class="hexagon-in2">
                                <!-- <div class="hexagon-in2" data-profile-img="assets/images/photos/partners/bixa.png"></div> -->
                            </div>
                        </div>
                    </div>
                    <div class="testimonials-content">
                        <h3 class="user-name">Productos Bixa</h3>
                        <span>Sublime Quest Test</span>
                        <p>Proin fringilla molestie vulputate. Suspendisse vitae elit eget ipsum sagittis aliquet. Proin sagittis luctus mauris non sollicitudin. Donec dapibus.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Testimonials Item End ***** -->
        </div>
    </div>
</section>