<section class="page">
    <!-- ***** Page Top Start ***** -->
    <ng-parallax img="assets/images/photos/laboratory.jpg" [config]="{speed: .4, initialValue: 0}" class="ng-parallax-cover">
        <div class="cover">
            <div class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Centro de Investigación e Innovación</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-parallax>

    <!-- ***** Page Top End ***** -->   

    <!-- ***** Features Big Item Start ***** -->
    <section class="section white padding-bottom-top-60 bg-center-left" id="centro-investigaciones">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <div class="left-heading">
                        <h2 class="section-title">Un lugar hecho para <span style="color: #4278E5"> innovar</span></h2>
                    </div>
                    <div class="left-text">
                        <p class="text-justify">Nuestro Centro de Investigación e Innovación es lugar ideal para el estudio y puesta en marcha de diferentes proyectos que pequeñas o medianas empresas busquen desarrollar.</p>

                        <p class="text-justify">Contar con un lugar como este es poder tener la oportunidad de descubrir <span style="color: #4278E5">nuevas alternativas</span> en materia de ciencia de los alimentos para ayudarles a innovar y ser más competitivas en el mercado</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="./assets/images/photos/features/carnicos.jpg" class="img-fluid float-left" alt="App">
                </div>
            </div>
        </div>
    </section>

    <section class="section white padding-bottom-top-60 border-bottom bg-center-right">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center mobile-bottom-fix" data-scroll-reveal="enter right move 30px over 0.6s after 0.3s">
                    <img src="./assets/images/photos/features/lacteos.jpg" class="img-fluid float-left" alt="App">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <div class="left-text">
                        <p class="text-justify">El Centro de Investigación e Innovación cuenta todos los elementos para hacer desarrollo, bajar los costos de producción, <span style="color: #4278E5">mejorar la calidad de productos</span> y hacer innovación.</p>
                        
                        <p class="text-justify">Al contar con diferentes áreas se puede realizar un proceso completo partiendo desde la fabricación de los productos en el área de plantas pilotos y laboratorios, hasta llegar a la cocina experimental y llevar a cabo el proceso de degustación de dichos productos y confirmar así hipótesis que se plantean de cada proyecto.</p>                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section white padding-bottom-top-60 bg-center-left" id="centro-investigaciones">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <div class="left-heading">
                        <h2 class="section-title">Resaltando sobre la competencia</h2>
                    </div>
                    <div class="left-text">
                        <p class="text-justify">Adaptarse a las nuevas condiciones del mercado no es tarea fácil. El reto es lograr un producto cárnico o lácteo de <span style="color: #4278E5">buena calidad a bajo costo</span>, algo que solo se logra con investigación y desarrollo. Esto constituye una gran apuesta por la competitividad que les permite las pymes equilibrar la balanza de participación de mercado frente a los grandes productores al ubicar sus productos en estos supermercados. </p>

                        <p class="text-justify">La tecnología de punta con la que cuenta el Centro de Investigación e Innovación permite cubrir los costos de operación (mano de obra y materias primas) de los procesos de investigación y desarrollo de productos requeridos hoy por la demanda de los clientes. Esto es posible gracias a la alianza que hemos establecido con partners estratégicos para poder ayudar a la industria de la alimentación a ser más competitiva. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="./assets/images/photos/features/control.jpg" class="img-fluid float-left" alt="App">
                </div>
            </div>
        </div>
    </section>

    <section class="section white padding-bottom-top-60 border-bottom bg-center-right">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center mobile-bottom-fix" data-scroll-reveal="enter right move 30px over 0.6s after 0.3s">
                    <img src="./assets/images/photos/features/investigacion.jpg" class="img-fluid float-left" alt="App">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <div class="left-heading">
                        <h2 class="section-title"><span style="color: #4278E5">Misión</span></h2>
                    </div>
                    <div class="left-text">
                            <p class="text-justify">Brindar un espacio con herramientas y tecnología necesaria para la investigacion y creacion de nuevos productos que permita a pequeñas y medianas empresas <span style="color: #4278E5">aumentar su capacidad de producción</span>, diversificar sus modelos de negocio, tecnificarse más y que en este proceso los costos asumidos no generen un impacto real en sus finanzas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section white padding-bottom-top-60 bg-center-left" id="centro-investigaciones">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
                    <div class="left-heading">
                        <h2 class="section-title"><span style="color: #4278E5">Visión</span></h2>
                    </div>
                    <div class="left-text">
                            <p class="text-justify">Llegar a ser pioneros en el área de fabricación de alimentos basándonos en la <span style="color: #4278E5">innovación constante</span> y el uso de tecnologias de punta que permita ofrecer un resultado de alta calidad para nuestros clientes.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <img src="./assets/images/photos/features/cocina.jpg" class="img-fluid float-left" alt="App">
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->
</section>