<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
            <div class="img">
                <img src="assets/images/photos/blog/calier_internacional.jpg" alt="">
                <div class="date">
                    <strong>MAY</strong>
                    <span>10</span>
                </div>
            </div>
            <ul class="post-meta">
                <li><a href="#"><span class="icon fa fa-user"></span>revistaenfoque.com.co</a></li>
            </ul>
            <h3>
                <a href="https://www.revistaenfoque.com.co/economia-y-finanzas/nuevo-centro-de-investigacion-e-innovacion-en-colombia" target="_blank">
                    <b>Nuevo Centro de Aplicaciones en Colombia</b>
                </a>
            </h3>
            <div class="text">
                    La pymes podrán realizar investigación para el desarrollo de productos propios o mejorar la calidad y aumentar su competitividad en el mercado.
            </div>
            <a href="https://www.revistaenfoque.com.co/economia-y-finanzas/nuevo-centro-de-investigacion-e-innovacion-en-colombia" target="_blank"class="btn-primary-line">Leer más</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
            <div class="img">
                <img src="assets/images/photos/blog/laboratorio-pymes.jpg" alt="">
                <div class="date">
                    <strong>MAY</strong>
                    <span>10</span>
                </div>
            </div>
            <ul class="post-meta">
                <li><a href="#"><span class="icon fa fa-user"></span>César Blanco</a></li>
            </ul>
            <h3>
                <a [routerLink]="[ '/blog' ]" target="_blank">
                    <b>La competencia de las pymes en el retail</b>
                </a>
            </h3>
            <div class="text">
                    El Centro de Aplicaciones de Calier birndará más competitividad para las pymes del sector alimenticio en Colombia, en especial para las que trabajan con las cadenas de “hard discount”.
            </div>
            <a [routerLink]="[ '/blog' ]" target="_blank" class="btn-primary-line">Leer más</a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
            <div class="img">
                <img src="assets/images/photos/header.jpg" alt="">
                <div class="date">
                    <strong>JUN</strong>
                    <span>2</span>
                </div>
            </div>
            <ul class="post-meta">
                <li><a href="#"><span class="icon fa fa-user"></span>cablenoticias.tv</a></li>
            </ul>
            <h3>
                <a href="http://www.cablenoticias.tv/vernoticia.asp?titulo=Abren-centro-de-investigacion-e-innovacion-en-Colombia-&WPLACA=135591" target="_blank">
                    <b>Abren centro de Aplicaciones en Colombia</b>
                </a>
            </h3>
            <div class="text">
                Quisque euismod nec lacus sit amet maximus. Ut convallis sagittis lorem auctor malesuada. Morbi auctor tortor eu risus condimentum.
            </div>
            <a href="http://www.cablenoticias.tv/vernoticia.asp?titulo=Abren-centro-de-investigacion-e-innovacion-en-Colombia-&WPLACA=135591" target="_blank"class="btn-primary-line">Leer más</a>
        </div>
    </div>
</div>