
<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <div class="row mb-0 pb-0 mx-5 mt-3 px-5 d-none d-lg-flex">
        <div class="col-lg-6 col-md-6 m-0 pb-0 pl-3">
            <i class="fa fa-envelope"></i> info&#64;<strong class="text-secondary">caliercolombia</strong>.com &nbsp;&nbsp;
            <i class="fa fa-phone"></i> (57-1) 8697790
        </div>
        <div class="col-lg-6 col-md-6 text-right m-0 p-0 pr-4" [ngClass]="{'animated pulse faster': pulseFlag}">
            <span class="bg-danger p-2 m-0 rounded text-white">
                Tasa promedio mes actual: <b class="h5">$ {{ trmPromedio }}</b>
            </span>
        </div>
    </div>
    <div class="container">
        <div class="row pt-0 mt-0">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a [routerLink]="[ '/inicio' ]" class="logo navLink">
                        <img src="assets/images/logo_calier.png" height="35" alt="Calier" />
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a [routerLink]="[ '/inicio' ]" class="navLink">Inicio</a></li>
                        <li class="submenu">
                            <a>Productos</a>
                            <ul>
                                <li><a [routerLink]="[ '/aplicaciones' ]" class="navLink">Plataforma de Negocio</a></li>
                                <li><a [routerLink]="[ '/productos' ]" class="navLink">Lista de Ingredientes</a></li>
                            </ul>
                        </li>
                        <li><a [routerLink]="[ '/centro-de-investigaciones' ]" class="navLink">Centro de Investigaciones</a></li>
                        <li><a [routerLink]="[ '/blog' ]" class="navLink">Blog</a></li>
                        <li><a [routerLink]="[ '/nosotros' ]" class="navLink">Nosotros</a></li>
                        <li><a [routerLink]="[ '/contacto' ]" class="navLink">Contacto</a></li>
                        <!-- <li><a [routerLink]="[ '/admin' ]" class="navLink"><i class="fa fa-lock" aria-hidden="true"></i> Admin</a></li> -->
                        <!-- <li><a href="#" class="btn-nav-line navLink"><span>Club Calier</span></a></li> -->
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->